<ion-header>
  <ion-navbar>
    <ion-title>
      Entry
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="dataService.meta">
  <form [formGroup]="entry_form">
    <ion-list>
      <ion-item>
        <ion-label fixed>Client name</ion-label>
        <ion-input type="text" [formControlName]="'client_name'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Mobile</ion-label>
        <ion-input type="number" [formControlName]="'mobile_number'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Address/Locality/Area</ion-label>
        <ion-input type="text" [formControlName]="'address'"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label fixed>Order date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [formControlName]="'order_date'"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label fixed>Order value / charges</ion-label>
        <ion-input type="number" formControlName="order_value"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Order source</ion-label>
        <ion-select [formControlName]="'order_source'">
          <ion-option *ngFor="let order_source of dataService.meta.order_sources" [value]="order_source.value">
            {{order_source.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Property Type</ion-label>
        <ion-select [formControlName]="'property_type'">
          <ion-option *ngFor="let property_type of dataService.meta.property_types" [value]="property_type.value">
            {{property_type.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label fixed>Comments</ion-label>
        <ion-input type="text" [formControlName]="'comments'"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Completed</ion-label>
        <ion-checkbox [formControlName]="'completed'"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="entry_form.value.completed">
        <ion-label fixed>Order completion date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [formControlName]="'order_completion_date'"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="entry_form.value.completed">
        <ion-label fixed>Order Team</ion-label>
        <ion-input type="text" [formControlName]="'order_team'"></ion-input>
      </ion-item>

      <ion-item *ngIf="entry_form.value.completed">
        <ion-label fixed>Order Tip</ion-label>
        <ion-input type="text" [formControlName]="'order_tip'"></ion-input>
      </ion-item>

      <ion-item *ngIf="entry_form.value.completed">
        <ion-label fixed>Order again</ion-label>
        <ion-checkbox [formControlName]="'order_again'"></ion-checkbox>
      </ion-item>

    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button type="submit" ion-button full (click)="onSubmit()">Save</button>
        </ion-col>
        <ion-col>
          <button ion-button color="danger" full (click)="onReset()">Reset</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
